modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "PlayBot Dashboard"

[[workflows.workflow]]
name = "PlayBot Dashboard"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node src/main.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34945
externalPort = 3002

[[ports]]
localPort = 38885
externalPort = 6000

[[ports]]
localPort = 40235
externalPort = 3003

[[ports]]
localPort = 42979
externalPort = 5173

[[ports]]
localPort = 43535
externalPort = 3001

[[ports]]
localPort = 44343
externalPort = 4200

[userenv]

[userenv.shared]
DISCORD_REDIRECT_URI = "https://a2058a1e-5e15-4260-a92d-7fa46b0934ff-00-byh3g51za0ha.pike.replit.dev/api/auth/callback"
